{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if object.parent and object.parent.children[object.parent.children|length - 1].id != object.id %}
            <a href="{{ path('admin_my_cms_menu_down', {'id': object.id}) }}">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock %}