{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if object.parent and object.parent.children[0].id != object.id %}
            <a href="{{ admin.generateUrl('up', {'id': object.id}) }}">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock %}