{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if vince.cms.languages|length > 1 %}
            {% for language in vince.cms.languages %}
                {% if object.original.hasTranslation(language) %}
                    <a href="{{ admin.generateObjectUrl('edit', object.original.getTranslation(language)) }}" class="translatable active">
                        <i class="flag flag-{{ language }}"></i>
                    </a>
                {% else %}
                    <a href="{{ admin.generateObjectUrl('translate', object.original, {'language': language}) }}" class="translatable">
                        <i class="flag flag-{{ language }}"></i>
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock %}