{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if vince.cms.locales|length > 1 %}
            {% for locale in vince.cms.locales %}
                <a href="{{ admin.generateObjectUrl('edit', object, {'locale': locale}) }}" class="translatable{% if admin.hasTranslation(locale, object) %} active{% endif %}">
                    <i class="flag flag-{{ locale }}"></i>
                </a>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock %}