body.fixed > .header {
    z-index: 1054;
}
.url {
    padding-right: 15px;
    background: url('../img/url.png') no-repeat right 1px;
}
.control-group span.help-block {
    clear: both;
}
div.sonata-medium-date div {
    width: auto !important;
    margin-right: 10px;
}
form .row .col-md-12 .col-md-12:last-of-type .box-body {
    overflow: hidden;
}
.sonata-ba-list-field-field_tree_up span.glyphicon-chevron-up,
.sonata-ba-list-field-field_tree_down span.glyphicon-chevron-down {
    display: block;
    text-align: center;
}
.bootstrap-filestyle .group-span-filestyle .glyphicon-folder-open {
    margin-right: 5px;
}
@font-face {
    font-family: 'FontAwesomeNew';
    src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa-language {
    font: normal normal normal 14px/1 FontAwesomeNew;
}
.fa-language:before {
    content: "\f1ab";
}
