.url {
    padding-right: 15px;
    background: url('../img/url.png') no-repeat right 1px;
}
.control-group span.help-block {
    clear: both;
}
div.sonata-medium-date div {
    width: auto !important;
    margin-right: 10px;
}
form .row .col-md-12 .col-md-12:last-of-type .box-body {
    overflow: hidden;
}
.sonata-ba-list-field-field_tree_up span.glyphicon-chevron-up,
.sonata-ba-list-field-field_tree_down span.glyphicon-chevron-down {
    display: block;
    text-align: center;
}
.bootstrap-filestyle .group-span-filestyle .glyphicon-folder-open {
    margin-right: 5px;
}
@font-face {
    font-family: 'FontAwesomeNew';
    src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa-language {
    font: normal normal normal 14px/1 FontAwesomeNew;
}
.fa-language:before {
    content: "\f1ab";
}
.flag {
    background: url('../img/flags.png') no-repeat;
    display: inline-block;
    background-size: 150px 115px;
    width: 23px;
    height: 16px;
}
.translatable {
    display: inline-block;
    width: 23px;
    height: 16px;
    line-height: 30px;
    margin-right: 5px;
    opacity: 0.3;
}
.translatable:hover, .translatable.active {
    opacity: 1;
}
.flag-fr {
    background-position: -7px -62px;
}
.flag-en {
    background-position: -44px -7px;
}
.flag-de {
    background-position: -82px -7px;
}
.flag-it {
    background-position: -119px -7px;
}
.flag-es {
    background-position: -119px -62px;
}
.flag-ru {
    background-position: -7px -34px;
}
