{% if admin.isGranted('DELETE', object) and admin.hasRoute('delete') and admin.canBeDeleted(object) %}
    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-default delete_link" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-remove"></i>
        {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}